{% extends 'navbar.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide pt-3"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              min-height="20%"
              src="{% static 'fotos/img_carrousel.png' %}"
              class="d-block w-100 h-100"
              alt="pc"
            />
          </div>
          <div class="carousel-item">
            <img
              min-height="20%"
              src="{% static 'fotos/img_carrousel-2.png' %}"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div
        class="cuadrado-vista-producto h-100 w-100 mt-3"
        style="text-align: center"
      >
        <h1>PRODUCTOS DESTACADOS:</h1>
      </div>
      <div id="productosIndex" class="container-fluid" style="width: 90%">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3"
        >
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"                      
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                <div class="card-body">
                  <h5 class="card-title">{{ producto.nombre }}</h5>
                  <p class="card-text">
                    {{ producto.descripcion }}
                  </p>
                </div>
                <div class="card-footer" style="text-align: center">
                  <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                  <hr />
                  <a href="{% url 'carrito' %}">
                    <button
                      type="button"
                      class="btn btn-dark"
                      style="margin-bottom: 5px"
                    >
                      AÑADIR AL CARRITO
                    </button>
                  </a>
                </div>
              {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <div class="col">
            <div id="cards_mas_pequennias">
              <div class="card h-100">
                <div id="img_cards">
                  <a href="{% url 'vista_productos' %}">
                    <img
                    src="{% static 'fotos/img_default_productos.jpg' %}"
                      class="card-img-top"
                      alt="producto"
                    />
                  </a>
                </div>
                {% for producto in Productos%}
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                      {{ producto.descripcion }}
                    </p>
                  </div>
                  <div class="card-footer" style="text-align: center">
                    <p style="font-weight: bold">PRECIO: ${{ producto.precio }}</p>
                    <hr />
                    <a href="{% url 'carrito' %}">
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-bottom: 5px"
                      >
                        AÑADIR AL CARRITO
                      </button>
                    </a>
                  </div>
                {%endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section id="mapsec">
      <h1 style="text-align: center;"> Visita nuestra tienda!</h1>
      <p style="text-align: center;">Para compras presenciales o retiro en tienda, visitanos en nuestra tienda física en Álvarez 2336, 2571188 Viña del Mar, Valparaíso. Te esperamos con ansias!</p>
      <div id="map"></div>

      <script src="{% static 'apigooglemap.JS' %}"></script>
  
    
    </section>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnJ7HU3CttyubCqebQz5aVPMKZVmCybWI&callback=IniciarMapa">
    </script>

    <footer data-bs-theme="dark">©2024 DUOC UC</footer>

{% endblock  %}