{% extends 'navbar.html' %}
{% load static %}
{% block body %}

<br>
<br>
<br>
<div class="container">
    <div class="mb-3 row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"><b>Informaci&oacute;n del usuario</b></h3>
                </div>
                <div class="card-body">
                    <form class="mb-3 row" id="formulario">
                        <label for="nombre1" class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-form-label">Nombres</label>
                        <div class="col-sm-10 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                            <input type="text" id="nombre1" class="form-control"  placeholder="Ingresa Nombres">
                            <span id="spannombre"  style="color: red;" style="font-size: 14px ;" style="font-family: Arial, Helvetica, sans-serif;"></span> 
                        </div>
                        <label for="apellido1" class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                            <input type="text" id="apellido1" class="form-control"  placeholder="Ingresa Apellidos">
                            <span id="spanapellido"  style="color: red;" style="font-size: 14px ;" style="font-family: Arial, Helvetica, sans-serif;"></span> 
                        </div>
                    <br>
                    <br>
                    <br>
                    <hr><br>
                      <div class="row mb-3">
                        <div class="my-2">
                          <label for="email1" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email1"  placeholder="Ingresa Correo">
                          <span id="spancorreo"  style="color: red;" style="font-size: 14px ;" style="font-family: Arial, Helvetica, sans-serif;"></span> 
                        </div>
                        <div class="my-2">
                          <label for="password1" class="form-label">Contrase&ntilde;a</label>
                          <input type="password" class="form-control" id="password1" placeholder="Ingresa Contraseña"  min="8" maxlength="25">
                          <span id="spancontra"  style="color: red;" style="font-size: 14px ;" style="font-family: Arial, Helvetica, sans-serif;"></span> 
                        </div>                      
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}