{% extends 'navbar.html' %}
{% load static %}
{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="mb-3 row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
              <div class="rounded-circle" id="gallery"></div>
              <script src="{% static 'api_img.JS' %}"></script>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
                <div class="card">
                    <div class="card-header">
                        {% if user.is_authenticated %}
                        <h3 class="text-center"><b>Bienvenido {{user.username}} </b></h3>
                        {% else %}
                        <h3 class="text-center"><b>Informaci&oacute;n del usuario</b></h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form class="mb-3 row" id="formulario">
                            <label for="nombre1" class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-form-label">Nombre:</label>
                            <div class="col-sm-10 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                {% if user.is_authenticated %}
                                <div class="border border-black p-2 mb-2">{{user.first_name}}</div>
                                {% else %}
                                <h3 class="text-center"></h3>
                                {% endif %}
                            </div>
                            <label for="apellido1" class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-form-label">Apellidos:</label>
                            <div class="col-sm-10 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                {% if user.is_authenticated %}
                                <div class="border border-black p-2 mb-2" style="left: 30px;">{{user.last_name}}</div>
                                {% else %}
                                <h3 class="text-center"></h3>
                                {% endif %}
                            </div>
                        <br>
                        <br>
                        <br>
                        <hr><br>
                          <div class="row mb-3">
                            <div class="my-2">
                              <label for="email1" class="form-label">Email:</label>
                                {% if user.is_authenticated %}
                                <div class="border border-black p-2 mb-2">{{user.email}}</div>
                                {% else %}
                                <h3 class="text-center"></h3>
                                {% endif %}
                            </div>
                            
                            <div>
                            <a href="{% url 'modificar' user.username %}" > 
                                <button  type="button" class="btn btn-primary" data-bs-toggle="modal" style="left: 100%;">
                                Modificar informacion
                                </button>
                           </a>
                            </div>
                           <a> 
                            <br>
                            <button  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrar" style="left: 100%;" style="color: red;">
                             Eliminar usuario
                            </button>
                            </a>
                            <div class="modal" tabindex="-1" id="borrar">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">¿Está seguro de que desea eliminar el usuario?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Una vez borrado perdera toda la información</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    </a>
                                    <a href="{% url 'eliminar' user.username %}" >
                                      <button type="button" class="btn btn-danger">Borrar</button>
                                    </a>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>


                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}