{% extends 'navbar.html' %}
{% load static %}
{% load humanize %}
{% block body %}

    <div class="Titulo_prod"><h1 style="text-align: center">PRODUCTOS</h1></div>
    <div id="productosIndex" class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
        {% for producto in Productos%}
        <div class="col">
          <div id="cards_mas_pequennias">
            <div class="card h-100">
              <div id="img_cards">
                <a href="{% url 'prodvis' producto.id_producto %}">
                  <img
                  src="{{producto.imagen.url}}"
                    class="card-img-top"
                    alt="producto"
                  />
                </a>
              </div>
                <div class="card-body">
                  <h5 class="card-title">{{ producto.nombre }}</h5>
                  <p class="card-text descripcion">
                    {{ producto.descripcion }}
                  </p>
                </div>
                <div class="card-footer" style="text-align: center">
                  <p style="font-weight: bold">PRECIO: ${{ producto.precio|intcomma }}</p>
                  <hr />
                  <a href="{% url 'agregar_carrito' producto.id_producto %}">
                    <button
                      type="button"
                      class="btn btn-success"
                      style="margin-bottom: 5px"
                    >
                      AÑADIR AL CARRITO
                    </button>
                  </a>
                </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>

    {% endblock  %}