body{
    background-image: url(fondo.avif);
    background-size: 100%;
}
.container{
    width: 70%;
    display: flex;
    max width: 1100px ;
}

.card_prod{
    width: 100%;
    margin: 20px;
    margin-top: 100px;
    border-radius: 6px;
    overflow: hidden;
    background-color: aliceblue;
    cursor: default;
    transition: all 400ms ease;
}

.card_prod:hover{
    transform: translateY(-3%);
}
.card_prod img{
    width: 100%;
    height: 210px;

}


.card_prod a{
    align-items: center;
}

.card-text{
    margin: 10px;

}

.card-title{
 text-align: center;

}

.btn btn-primary{
align-items: center;
}

#cards_centradas{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5% ;
    margin-top: 7%;
}

.centrado-flexbox {
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
}

#cards_mas_pequennias{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}

#img_cards{
    margin: 15px;
}